# Flutter and Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Generated platform folders if created locally
android/.gradle/
ios/Pods/
ios/.symlinks/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
